body
  div.container-fluid
    div.row
      div.col-xs-12.text-center
        h1 Random Quote Generator
    div.row
      div.col-xs-6.col-xs-offset-3#mainBox
        h3#message
        div.row
          div.col-xs-2.text-left
            a.twitter-button(href="https://twitter.com/intent/tweet")
              i.fa.fa-twitter-square.fa-4x(aria-hidden="true")
          div.col-xs-10.text-right
            button.btn#getMessage New Quote
    div.row
      div.col-xs-12.text-center
        h5 Created by: Alex Schiffer