body
  div.container.text-center#calculator
    h1 JS Calculator
    div.row#containsBoth
      div.col-sm-12
        div.row#displayContainer
          div.col-sm-12
            p#display
        div.row#displayContainerSmall
          div.col-sm-12
            p#small
    div.row#numbers
      div.col-sm-12
        div.row
          div.col-sm-12
            button.btn.btn-warning.btn-alex0#C AC
            button.btn.btn-warning.btn-alex#pm +/-
            button.btn.btn-warning.btn-alex#times *
        div.row
          div.col-sm-12
            button.btn.btn-warning.btn-alex#7 7
            button.btn.btn-warning.btn-alex#8 8
            button.btn.btn-warning.btn-alex#9 9
            button.btn.btn-warning.btn-alex#divide /
        div.row
          div.col-sm-12
            button.btn.btn-warning.btn-alex#4 4
            button.btn.btn-warning.btn-alex#5 5
            button.btn.btn-warning.btn-alex#6 6
            button.btn.btn-warning.btn-alex#plus +
        div.row
          div.col-sm-12
            button.btn.btn-warning.btn-alex#1 1
            button.btn.btn-warning.btn-alex#2 2
            button.btn.btn-warning.btn-alex#3 3
            button.btn.btn-warning.btn-alex#minus -
        div.row
          div.col-sm-12
            button.btn.btn-warning.btn-alex0#0 0
            button.btn.btn-warning.btn-alex#dec .
            button.btn.btn-warning.btn-alex#eq =